
#wrapper{margin:20vh 0 0 0}
.flex-3-eq{display: flex; justify-content: space-evenly;}
.flex-1-cent{display: flex; justify-content: center;}


.thumb-other{max-width: 3vw;min-width: 10vw;padding: 0 15px}
.thumb-medium{max-width: 15vw;min-width: 5vw;}

#result{
    margin: 0 auto;
    min-height: 15vh;
}

.hidden{display:none;}
.shown{display: inherit;}
